/* #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-family: 'Star Jedi', sans-serif;
  font-size: 48px;
  color: #ffe81f;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  margin-top: 20px;
}


 */
