/* #root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-family: 'Star Jedi', sans-serif;
  font-size: 48px;
  color: #ffe81f;
  text-shadow: 2px 2px 4px #000000;
  text-align: center;
  margin-top: 20px;
}


 */


 .uniform_image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .shii_cho_image {
  width: auto;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .soresu_image {
  width: 400px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }

 .djem_so_image {
  width: auto;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 }